<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>New Team Members</title>
</head>

<!-- Creating the main body for the header and cards to go on-->
<body>
    <header class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 mx-auto">New Team Members</h1>
        </div>
    </header>

<main class="container">
    <div class="row d-flex justify-content-center" id="teamContainer"></div>
</main>

</body>
</html>
